@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

* {
  margin: 0;
  font-family: 'Shanti', sans-serif;
}

body {
  background: #f5f6fa;
}

.worldapp__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.worldapp__status {
  display: flex;
  justify-content: space-between;
}

.worldapp {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.india__app {
    margin: 2rem;
}

.lg__visible {
    display: none;
}


@media (max-width: 600px) {
    .md__visible {
        display: none;
    }

    .lg__visible{
        display: block;
    }

    .worldapp__header {
      flex-direction: column;
    }
}