@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.app {
  background: rgb(248, 248, 248);
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left__app {
  flex: 0.7;
  margin: 1rem 1.5rem;
}

.card {
  width: fit-content;
  background: rgb(248, 248, 248);
}

.card_help {
  margin: 1rem 0rem;
}

.main_card {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.card_helpline {
  padding: 1rem;
  width: auto;
}

.dark {
  background-color: #000;
  color: #ddd;
  padding: 0.2rem;
}

.table {
  border-radius: 10px;
}

.tabs {
  margin: 2rem;
}

.grid_cards {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: whitesmoke;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
  padding: 0.5rem;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  color: whitesmoke;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  padding: 0.5rem;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.heart {
  color: red;
}

.chip {
  margin: 1rem 0.4rem;
}

.connect__btn {
  position: fixed;
  bottom: 10vh;
  right: 3vw;;
}

.twitter_card {
  padding: 1rem;
}

.help {
  display: flex;
}

.img {
  width: 550px;
  height: 500px;
}

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  margin: 1rem;
}

.help__container > button {
  outline: none;
  border: none;
  border-radius: 10px;
  background: #49A0E3;
  padding: 0.8rem 1rem;
  margin: 1.2rem;
  box-shadow: 3px 3px 12px rgba(0,0,0,0.5);
  font-size: 1.3rem;
}

a{
  text-decoration: none;
  color: #0056B3;
}


.help_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
  margin: 1.5rem 1rem;
}

.test_card {
  margin: 2rem;
}

@media (max-width: 890px) {
  .grid_cards {
    grid-template-columns: repeat(2 , 1fr);
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .tabs {
    width: 100%;
    margin: 1rem 0rem;
  }

  .help {
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .help_card {
    display: flex;
    flex-direction: column;
    /* width: %; */
    margin: 1rem;
  }
}

.not__found {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
  }

  .grid_cards {
    grid-template-columns: repeat(1 , 1fr);
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .card {
    margin: 1rem;
    width: 100%;
  }
}